p {
    color: rgb(9, 255, 0);
    font-size: 18px;
    text-align: center;
    display:block;
  }
  
  .highlight {
    background-color: rgb(31, 30, 46);
  }

body {
    background-color: rgb(31, 30, 46);
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 200;
    }

    
h1 {
        color: rgb(217, 219, 253);
        text-align: center;
        display: block;
        margin-bottom: 20px;
    }